#main
{
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
    border: 5px solid black;
}
h1
{
    text-align: center;
    color: cadetblue;
}

#bg
{
    position: absolute;
    background-color: blue;
}

@font-face {
  font-family: 'Lucida Console';
  src:  url('/fonts/LucidaGrande.ttc') format('tff'),
}
